.titulo{
    font-size: 25px;
    font-weight: 550;
}

.subtitulo{
    font-size: 16px;
    text-align: justify;
    width: 306px;
    margin-left: 40%;
    margin-top: 5%;
}


.c-dados{
    width: 350px;
    margin-left: 39%;
    margin-top: 1%;
    background-color: #ffffff;
}

.c-itens{
    font-size: 16px;
    color: #7C8D93;
}

.campos-botao{
    text-align: center;
    color: #ffffff;
    background-color: #006d77;
    margin-bottom: 1vh;
    justify-content: center;
    width: 306px;
    margin-left: 40%;
    margin-top: 1%;
}
  
 .botao-cancelar{
    text-align: center;
    color: #E29578;
    border-color: #E29578;
    border-width: 0.2vh;
    width: 306px;
    margin-left: 40%;
}
