<h1 mat-dialog-title>{{titulo}}</h1>
<div mat-dialog-content>{{corpo}}</div>
<div >
  <form class="example-form" [formGroup]="form" (ngSubmit)="cadastrar()">
  
      <div class="example-full-width" *ngIf="!preview; else previewImage">
          <button
              type="button"
              (click)="fileInput.click()"
              class="btn btn-primary">
              <i class="fa fa-image fa-4x align-middle"></i>
          </button>
          <input #fileInput
              type="file" 
              hidden 
              accept="image/png, image/jpg"
              (change)="gravaArquivo($event.target)"/>
          <div 
              id='lbError' 
              class='warning'>
          </div>
      </div>
  
      <ng-template #previewImage>
          <app-membro
              [url]="preview" 
              title="Preview">
          </app-membro>
      </ng-template>
  
      <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Nome do membro</mat-label>
          <input 
              matInput 
              type="text" 
              placeholder="Nome do membro" 
              formControlName="nome"
              [(ngModel)]="nome"
              required
              >
              <app-mensagem
                  *ngIf="form.get('nome')?.errors && form.get('nome')?.touched"
                  mensagem="Nome obrigatório">
              </app-mensagem>
      </mat-form-field>
  
      <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Data de nascimento</mat-label>
          <input 
              matInput 
              type="date" 
              placeholder="Data de nascimento" 
              formControlName="dataNascimento"
              [(ngModel)]="dataNascimento"
              required>
              <app-mensagem
                  *ngIf="form.get('dataNascimento')?.errors && form.get('dataNascimento')?.touched"
                  mensagem="Data de Nascimento obrigatória">
              </app-mensagem>
              <app-mensagem
                  *ngIf="validarDataNascimento()"
                  mensagem="{{mensagemErroDtNascimento}}">
              </app-mensagem>
      </mat-form-field>
  
      <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Valor da mesada</mat-label>
          <input 
              matInput 
              type="number"
              formControlName="valorMesada"
              placeholder="Valor da mesada" 
              [(ngModel)]="valorMesada"
              required
              min="0"
              step=".01">
              <app-mensagem
                  *ngIf="form.get('valorMesada')?.errors && form.get('valorMesada')?.touched"
                  mensagem="Valor da mesada é obrigatório">
              </app-mensagem>
              <app-mensagem
                  *ngIf="form.get('valorMesada').value < 0"
                  mensagem="Valor da mesada deve ser positivo">
              </app-mensagem>
      </mat-form-field>
      <div class="row">
        <div class="col-6">
          <button mat-raised-button type="submit" color="primary">Cadastrar</button>
        </div>
        <div class="col-6">
          <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
        </div>
      </div>
  </form>
</div>