<h1 mat-dialog-title>{{titulo}}</h1>
<div mat-dialog-content>{{corpo}}</div>
<div >
  <form class="example-form" [formGroup]="form">

    <div class="row">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Descreva a atividade</mat-label>
          <textarea 
            rows="15"
            matInput 
            placeholder="Ex. Guardar as roupas"
            formControlName="descricao"
            [(ngModel)]="descricao"
            required>
        </textarea>
        <app-mensagem
            *ngIf="form.get('descricao')?.errors && form.get('descricao')?.touched"
            mensagem="Descrição obrigatória">
        </app-mensagem>
        </mat-form-field>
    </div>
     
      <div class="row">
        <div class="col-6">
          <button id="btnCadastrar" mat-raised-button color="primary" (click)="cadastrar()">Cadastrar</button>
        </div>
        <div class="col-6">
          <button id="btnCancelar" mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
        </div>
      </div>
  </form>
</div>