<h1 mat-dialog-title class="titulo">{{titulo}}</h1>
<div mat-dialog-content class="subtitulo">{{corpo}}</div>
<div >
  <form [formGroup]="form">

    <div class="row">
      <mat-form-field class="c-dados" appearance="outline" floatLabel="always">
        <mat-label class="c-itens" >Descreva a atividade</mat-label>
          <textarea 
            rows="15"
            matInput 
            placeholder="Ex. Guardar as roupas"
            formControlName="descricao"
            [(ngModel)]="descricao"
            required>
        </textarea>
        <app-mensagem
            *ngIf="form.get('descricao')?.errors && form.get('descricao')?.touched"
            mensagem="Descrição obrigatória">
        </app-mensagem>
        </mat-form-field>
    </div>
     

<div class="row">
  <button mat-raised-button color="primary" class="campos-botao" (click)="cadastrar()">
    Adicionar atividade
  </button>
</div>
<div class="row">
  <button mat-stroked-button  class="botao-cancelar" (click)="cancelar()">
    Cancelar
  </button>
</div>