<div class="lista">
    <div class="row">
        <div class="col-3">
            <mat-card-title class="titulo">Históricos:</mat-card-title>
  
            <mat-card class="card mouse">
                <button mat-raised-button color="primary" class="campos-botao">
                </button>
                <div class="row">
                    <img class="col-4 image" src="assets/img/home.jpg">
                    <div class="col-8">
                        <mat-card-subtitle>Membro</mat-card-subtitle>
                        <p class="dados">Letícia Lima</p>
                    </div>
                </div>
            </mat-card>

        </div>

        <div class="col-9">
            <div class="row">
                <mat-card-subtitle class="col-8">Listas finalizadas:</mat-card-subtitle>

                
                <mat-form-field class="col-2">
                    <p>Visualizar:</p>
                    <mat-select [(value)]="selected">
                      <mat-option value="option1">Mais antigos</mat-option>
                      <mat-option value="option2">Mais recentes</mat-option>
                      <mat-option value="option3">Ordem alfabética</mat-option>
                    </mat-select>
                  </mat-form-field>
                  
                  
            </div>
            <mat-card class="card">
              
            <div class="row">
                <div class="col-3">
                    <mat-card-subtitle>Nome  da lista:</mat-card-subtitle>
                    <p class="dados">Lista ABC SHOW</p>
                </div>
                <div class="col-2">
                    <mat-card-subtitle>Número de faltas:</mat-card-subtitle>
                    <p class="dados">12</p>
                </div>
                <div class="col-2">
                    <mat-card-subtitle>Data de início:</mat-card-subtitle>
                    <p class="dados">01/07/2020</p>
                </div>
                <div class="col-2">
                    <mat-card-subtitle>Data de finalização</mat-card-subtitle>
                    <p class="dados">31/07/2020</p>
                </div>

                <div class="col-3">
                    <button mat-stroked-button type="submit" class="campos-botao" (click)="openDialogDetalhes()"> Ver detalhes </button>
                </div>
            </div>
            </mat-card>
        </div>
</div>
</div>
          
  