<h1 mat-dialog-title class="titulo">{{titulo}}</h1>
<div mat-dialog-content class="subtitulo">{{corpo}}</div>
<div>
  <button
      class="botao-up"
      type="button"
      (click)="fileInput.click()">
      <div class="row">
        <i 
          *ngIf="!preview" 
          class="fa fa-file-o fa-3x icone col-3">
        </i>

        <div>
          <app-membro
            *ngIf="preview"
            [url]="preview" 
            title="Preview">
          </app-membro>
          <p class="col-9 texto-up texto-up2"> Arraste ou <span style="text-decoration: underline;">clique aqui </span>  para fazer o upload da <span style="font-weight: 500">foto do usuário</span> </p>
        </div>
      </div>
  </button>


  <input #fileInput
    type="file" 
    hidden 
    accept="image/png, image/jpg"
    (change)="gravaArquivo($event.target)"/>
  <div 
    id='lbError' 
    class='warning'>
  </div>
</div>

<div class="row">
<mat-form-field class="c-dados" appearance="outline" floatLabel="always">
  <mat-label class="c-itens">Nome do membro</mat-label>
  <input
  matInput
  [(ngModel)]="membro.name"
  type="text" 
  required>
</mat-form-field>


<mat-form-field class="c-dados" appearance="outline" floatLabel="always">
  <mat-label class="c-itens">Data de Nascimento</mat-label>
  <input 
    matInput
    [(ngModel)]="membro.birthdate"
    required>
</mat-form-field>
  

<mat-form-field class="c-dados" appearance="outline" floatLabel="always">
  <mat-label class="c-itens">Valor da mesada</mat-label>
  <input 
    matInput 
    [(ngModel)]="membro.allowance"
    type="number"
    required
    min="0"
    step=".01">
</mat-form-field>
</div>

<div mat-dialog-actions >
  <div class="row">
    <button mat-raised-button color="primary" class="campos-botao" (click)="editarMembro()">
      Salvar edição
    </button>
  </div>
  <div class="row">
    <button mat-stroked-button  class="botao-cancelar" (click)="onNoClick()">
      Cancelar
    </button>
  </div>
</div>