.card {
  margin: 2em ;
  border-width: 0.1vh;
  width: 88%;
  padding: 1.5%;
  box-shadow: none !important;
  transition: none !important;
}

.lista {
    padding: 40px;
}

.dados{
  font-size: 17px;
}

.campos-botao{
    text-align: center;
    color: #ffffff;
    background-color: #006d77;
    margin-left: 74%;
  }
  
  .b-excluir{
    text-align: center;
    color: #E29578;
    border-color: #E29578;
    border-width: 0.2vh;
    margin: 1em;
    left: 50%;
  }
  
  .b-editar{
    text-align: center;
    color: #ffffff;
    background-color: #83C5BE;
    margin: 1em;
    left: 95%;
    box-shadow: none !important;
    transition: none !important;
  
  }