<div class="lista">
  <div>
        <mat-card-title>Atividades
            <button mat-raised-button color="primary" class="campos-botao">
               <a (click)="cadastrarAtividade()">Cadastrar nova atividade</a>
            </button>
          </mat-card-title>
        </div>
      
            
        <div *ngFor="let atividade of listaAtividades" class="col-12">
          <mat-card class="card">
            <div class="row">
                
              <div class="col-10">
                <div class="row">
                    <mat-card-subtitle>Descrição da atividade:</mat-card-subtitle>
                    <p class="dados">{{atividade.descricao}}</p>
                </div>

                  
              </div>
              <div class="col-2">
                <div class="row">
                  <div class="col-4">
                    <button mat-stroked-button type="submit" class="b-excluir" (click)="openDialogExcluirAtividade()">Excluir</button>
                  </div>
                  <div class="col-4">
                    <button mat-raised-button type="submit" class="b-editar" (click)="openDialogEditarAtividade(atividade)">Editar</button>
                  </div>
                  
                </div>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
        
